# Python에서 MySQL 사용하기

## CRUD Operation

In [4]:
import json
import pymysql

In [7]:
with open('mysql.json','r') as file:
    config_str = file.read()
config_str

'{\n    "host" : "localhost",\n    "user" : "hkuser",\n    "password": "hkpass",\n    "database" : "world",\n    "port" : 3306\n}'

In [8]:
config = json.loads(config_str)
config

{'host': 'localhost',
 'user': 'hkuser',
 'password': 'hkpass',
 'database': 'world',
 'port': 3306}

## connection 객체 만들기

In [11]:
conn = pymysql.connect(
host = config['host'],
user = config['user'],
password = config['password'],
database = config['database'],
port = config['port'],
)

In [14]:
cur = conn.cursor()

In [16]:
sql = 'select * from team;'
cur.execute(sql)

8

In [17]:
rows = cur.fetchall()
for row in rows:
    print(row)

(10001, 21, '오승환', '투수', 110000)
(10002, 2, '우규민', '투수', 20000)
(10003, 16, '이원석', '내야수', 30000)
(10004, 44, '오재일', '내야수', 60000)
(10005, 34, '김헌곤', '외야수', 16000)
(10006, 63, '피넬라', '외야수', 50000)
(10007, 47, '강민호', '포수', 50000)
(10008, 12, '김민수', '포수', 4700)

## - Resource 반환

In [18]:
cur.close()
conn.close()