### 21.05.31 서현진 한경아카데미

### 1. 넘파이를 사용하여 다음과 같은 행렬을 만드시오.

In [2]:
import numpy as np

In [6]:
a = (np.arange(1, 9).reshape(2,4) ) * 10 ; a

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

### 2. 다음 행렬과 같은 행렬이 있다.
m = np.array([[ 0, 1, 2, 3, 4],
 [ 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14]])
 
#### 1) 이 행렬에서 값 7을 인덱싱한다.

#### 2) 이 행렬에서 값 14을 인덱싱한다.

#### 3) 이 행렬에서 배열 [ 6,7]을 슬라이싱한다.

#### 4) 이 행렬에서 배열 [7,12]을 슬라이싱한다.

#### 5) 이 행렬에서 배열 [[3,4], [8,9]]을 슬라이싱한다.

In [8]:
m = np.array([[ 0, 1, 2, 3, 4], [ 5, 6, 7, 8, 9], [10, 11, 12, 13, 14]])
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [10]:
# 1 )
m[1,2]  # m[1][2]

7

In [11]:
# 2 )
m[2,4] # m[-1,-1]

14

In [13]:
# 3 )
m[1, 1:3]

array([6, 7])

In [15]:
# 4 )
m[1:3, 2] # m[1:, 2]

array([ 7, 12])

In [19]:
# 5 )
m[:2, 3:5]  # m[:2, 3:]

array([[3, 4],
       [8, 9]])

### 3. 2번의 행렬 m을 1차원 벡터 f 로 변환한 후 다음의 문제를 푸시오.
1) 이 배열에서 3의 배수를 찾아라.

2) 이 배열에서 4로 나누면 1이 남는 수를 찾아라.

3) 이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.

In [21]:
f = m.flatten(); f

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [39]:
# 1)
ex1 = f[ np.logical_and(f%3 == 0, f !=0 ) ] ; ex1

array([ 3,  6,  9, 12])

In [41]:
# 2)
ex2 = f[ f%4 == 1 ]; ex2

array([ 1,  5,  9, 13])

In [42]:
# 3)
ex3 = ex1[ ex1%4 ==1 ] ; ex3

array([9])

### 4. 값을 직접 입력하지 말고 아래의 행렬을 만드시오

2, 1, 0, 0, 0

3, 2, 1, 0, 0

0, 3, 2, 1, 0

0, 0, 3, 2, 1

0, 0, 0, 3, 2

In [48]:
np.eye( 5, 5, 1) + np.eye( 5, 5, 0) * 2 + np.eye( 5, 5, -1) *3

array([[2., 1., 0., 0., 0.],
       [3., 2., 1., 0., 0.],
       [0., 3., 2., 1., 0.],
       [0., 0., 3., 2., 1.],
       [0., 0., 0., 3., 2.]])

### 5. 0에서 10까지 랜덤 실수값으로 이루어진 5 x 6 형태의 데이터 행렬을 만들고 이 데이터에 대해 다음과 같은 값을 구하시오.

1) 전체의 최댓값

2) 각 행의 합

3) 각 행의 최댓값

4) 각 열의 평균

5) 각 열의 최솟값

In [4]:
np.random.seed(2021)
mtx5= np.random.uniform(0,10,30).reshape(5, 6) ; mtx5

array([[6.05978279, 7.33369361, 1.38947157, 3.12673084, 9.97243281,
        1.28162375],
       [1.78993106, 7.52925429, 6.62160514, 7.84310132, 0.96894396,
        0.58571285],
       [9.6239599 , 6.16557444, 0.86629961, 5.61272363, 6.16524709,
        9.63843023],
       [5.74304294, 3.71160848, 4.52145244, 2.01850248, 5.69305118,
        1.95095974],
       [5.83704016, 4.76313474, 5.178144  , 8.23098634, 7.32225027,
        0.69056275]])

In [5]:
# 1) 전체의 최댓값
mtx5.max()   # np.max(mtx5)

9.972432813403188

In [58]:
#2)각 행의 합
mtx5.sum(axis = 1)

array([29.16373537, 25.33854862, 38.07223489, 23.63861727, 32.02211826])

In [60]:
#3)각 행의 최댓값
mtx5.max(axis =1)

array([9.97243281, 7.84310132, 9.63843023, 5.74304294, 8.23098634])

In [61]:
#4)각 열의 평균
mtx5.mean(axis = 0)

array([5.81075137, 5.90065311, 3.71539455, 5.36640892, 6.02438506,
       2.82945787])

In [62]:
#5)각 열의 최솟값
mtx5.min(axis =0)  # np.min(mtx5, axis =0)

array([1.78993106, 3.71160848, 0.86629961, 2.01850248, 0.96894396,
       0.58571285])

### 6. 다음 배열은 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 세번째 행에 수학 성적을 적은 배열이다. 영어 성적을 기준으로 각 열(column)을 재정렬하시오.

In [63]:
# array([[ 1, 2, 3, 4], [ 46, 99, 100, 71], [ 81, 59, 90, 100]])

In [137]:
mtx6 = np.array([[ 1, 2, 3, 4], [ 46, 99, 100, 71], [ 81, 59, 90, 100]]) ; mtx6

array([[  1,   2,   3,   4],
       [ 46,  99, 100,  71],
       [ 81,  59,  90, 100]])

In [143]:
mtx6[:, mtx6[1].argsort()]

array([[  1,   4,   2,   3],
       [ 46,  71,  99, 100],
       [ 81, 100,  59,  90]])

### - Sorting

In [10]:
# 그냥 sort 하면 각 원소들이 각각 sorting됨
score = np.array([[1,2,3,4],[46,99,100,71],[81,59,90,100]])
np.sort(score, axis=1)

array([[  1,   2,   3,   4],
       [ 46,  71,  99, 100],
       [ 59,  81,  90, 100]])

In [13]:
np.argsort(score[1])  # 오름차순

array([0, 3, 1, 2], dtype=int64)

In [15]:
np.argsort(score[1])[::-1]  # 내림차순

array([2, 1, 3, 0], dtype=int64)

In [16]:
score[:, np.argsort(score[1]) ] # argsort(기준) 오름차순

array([[  1,   4,   2,   3],
       [ 46,  71,  99, 100],
       [ 81, 100,  59,  90]])

In [18]:
score[:, np.argsort(score[1]) [::-1]]  # argsort(기준) 내림차순

array([[  3,   2,   4,   1],
       [100,  99,  71,  46],
       [ 90,  59, 100,  81]])

### 7. 주사위를 100번 던지는 가상 실험을 파이썬으로 작성하고, 던져서 나오는 숫자의 평균을 구하시오.

In [100]:
np.random.seed(2021)
mtx7= np.random.randint(1,7,100); mtx7

array([5, 6, 2, 1, 6, 5, 4, 6, 6, 6, 1, 5, 2, 6, 2, 2, 5, 6, 3, 3, 1, 4,
       2, 1, 3, 4, 5, 6, 1, 6, 2, 3, 6, 2, 6, 2, 3, 3, 5, 6, 3, 4, 2, 3,
       3, 1, 3, 5, 6, 4, 4, 2, 2, 2, 3, 6, 4, 4, 5, 4, 2, 5, 2, 2, 5, 4,
       6, 4, 4, 4, 3, 2, 4, 3, 6, 3, 3, 1, 5, 4, 2, 4, 2, 5, 3, 4, 2, 3,
       6, 3, 6, 3, 4, 5, 6, 2, 2, 6, 1, 6])

In [101]:
mtx7.mean()  #np.mean(mtx7)

3.7

### 8. 가격이 10,000원인 주식이 있다. 이 주식의 일간 수익률(%)은 기댓값이 0%이고 표준편차가 1%인 표준 정규 분포를 따른다고 하자. 250일 동안의 주가를 무작위로 생성하시오.

In [163]:
# 소수점이하 반올림
# days_ earnings_rate ~N(0,1)
days_earnings_rate = np.random.normal(0,1,250)* 0.01 ; # days_earnings_rate

# 250일간의 주가변동
price = 10000
for i in range(0, 250):
    price = price * days_earnings_rate[i] + price
    print(f'{i+1}번째 날의 주가는 {round(price)}원 입니다.')

1번째 날의 주가는 10020원 입니다.
2번째 날의 주가는 9856원 입니다.
3번째 날의 주가는 9913원 입니다.
4번째 날의 주가는 9904원 입니다.
5번째 날의 주가는 9990원 입니다.
6번째 날의 주가는 10139원 입니다.
7번째 날의 주가는 10250원 입니다.
8번째 날의 주가는 10142원 입니다.
9번째 날의 주가는 10148원 입니다.
10번째 날의 주가는 10082원 입니다.
11번째 날의 주가는 10182원 입니다.
12번째 날의 주가는 10103원 입니다.
13번째 날의 주가는 10043원 입니다.
14번째 날의 주가는 10177원 입니다.
15번째 날의 주가는 10289원 입니다.
16번째 날의 주가는 10225원 입니다.
17번째 날의 주가는 10304원 입니다.
18번째 날의 주가는 10415원 입니다.
19번째 날의 주가는 10473원 입니다.
20번째 날의 주가는 10405원 입니다.
21번째 날의 주가는 10291원 입니다.
22번째 날의 주가는 10242원 입니다.
23번째 날의 주가는 10372원 입니다.
24번째 날의 주가는 10297원 입니다.
25번째 날의 주가는 10238원 입니다.
26번째 날의 주가는 10175원 입니다.
27번째 날의 주가는 9902원 입니다.
28번째 날의 주가는 10151원 입니다.
29번째 날의 주가는 10194원 입니다.
30번째 날의 주가는 10255원 입니다.
31번째 날의 주가는 10275원 입니다.
32번째 날의 주가는 10402원 입니다.
33번째 날의 주가는 10707원 입니다.
34번째 날의 주가는 10651원 입니다.
35번째 날의 주가는 10498원 입니다.
36번째 날의 주가는 10470원 입니다.
37번째 날의 주가는 10447원 입니다.
38번째 날의 주가는 10531원 입니다.
39번째 날의 주가는 10487원 입니다.
40번째 날의 주가는 10610원 입니다.
41번째 날의 주가는 10622원 입니다.
42번째 날의 주가는 10520원 입니다.
43번째 날의 주가는 10496원 입니다.
44번째 날의 주가는 10647원 입니다.
45번째 날의 주가는 10765원 입니다.
46번째 날의 주가는 10794원 입니다.
47번째 날의 주가는 10836원 입니다.
48번째 날의 주가는 10836원 입니다.
49번째 날의 주가는 10815원 입니다.
50번째 날의 주가는 10993원 입니다.
51번째 날의 주가는 10965원 입니다.
52번째 날의 주가는 10957원 입니다.
53번째 날의 주가는 10728원 입니다.
54번째 날의 주가는 10810원 입니다.
55번째 날의 주가는 11026원 입니다.
56번째 날의 주가는 11130원 입니다.
57번째 날의 주가는 11279원 입니다.
58번째 날의 주가는 11299원 입니다.
59번째 날의 주가는 11391원 입니다.
60번째 날의 주가는 11578원 입니다.
61번째 날의 주가는 11580원 입니다.
62번째 날의 주가는 11647원 입니다.
63번째 날의 주가는 11859원 입니다.
64번째 날의 주가는 11786원 입니다.
65번째 날의 주가는 11694원 입니다.
66번째 날의 주가는 11704원 입니다.
67번째 날의 주가는 11705원 입니다.
68번째 날의 주가는 11836원 입니다.
69번째 날의 주가는 11802원 입니다.
70번째 날의 주가는 11910원 입니다.
71번째 날의 주가는 12043원 입니다.
72번째 날의 주가는 12133원 입니다.
73번째 날의 주가는 12091원 입니다.
74번째 날의 주가는 12063원 입니다.
75번째 날의 주가는 12017원 입니다.
76번째 날의 주가는 11916원 입니다.
77번째 날의 주가는 12158원 입니다.
78번째 날의 주가는 12086원 입니다.
79번째 날의 주가는 12182원 입니다.
80번째 날의 주가는 12343원 입니다.
81번째 날의 주가는 12306원 입니다.
82번째 날의 주가는 12274원 입니다.
83번째 날의 주가는 12440원 입니다.
84번째 날의 주가는 12483원 입니다.
85번째 날의 주가는 12439원 입니다.
86번째 날의 주가는 12314원 입니다.
87번째 날의 주가는 12494원 입니다.
88번째 날의 주가는 12532원 입니다.
89번째 날의 주가는 12242원 입니다.
90번째 날의 주가는 12402원 입니다.
91번째 날의 주가는 12234원 입니다.
92번째 날의 주가는 12288원 입니다.
93번째 날의 주가는 12173원 입니다.
94번째 날의 주가는 12228원 입니다.
95번째 날의 주가는 12369원 입니다.
96번째 날의 주가는 12209원 입니다.
97번째 날의 주가는 12187원 입니다.
98번째 날의 주가는 12394원 입니다.
99번째 날의 주가는 12359원 입니다.
100번째 날의 주가는 12188원 입니다.
101번째 날의 주가는 12182원 입니다.
102번째 날의 주가는 12131원 입니다.
103번째 날의 주가는 12103원 입니다.
104번째 날의 주가는 12078원 입니다.
105번째 날의 주가는 11990원 입니다.
106번째 날의 주가는 11915원 입니다.
107번째 날의 주가는 11912원 입니다.
108번째 날의 주가는 11881원 입니다.
109번째 날의 주가는 12160원 입니다.
110번째 날의 주가는 11916원 입니다.
111번째 날의 주가는 11889원 입니다.
112번째 날의 주가는 11807원 입니다.
113번째 날의 주가는 11817원 입니다.
114번째 날의 주가는 11980원 입니다.
115번째 날의 주가는 11953원 입니다.
116번째 날의 주가는 11854원 입니다.
117번째 날의 주가는 12060원 입니다.
118번째 날의 주가는 12030원 입니다.
119번째 날의 주가는 12162원 입니다.
120번째 날의 주가는 12241원 입니다.
121번째 날의 주가는 12242원 입니다.
122번째 날의 주가는 12217원 입니다.
123번째 날의 주가는 12096원 입니다.
124번째 날의 주가는 12029원 입니다.
125번째 날의 주가는 12087원 입니다.
126번째 날의 주가는 12256원 입니다.
127번째 날의 주가는 12469원 입니다.
128번째 날의 주가는 12698원 입니다.
129번째 날의 주가는 12692원 입니다.
130번째 날의 주가는 12653원 입니다.
131번째 날의 주가는 12751원 입니다.
132번째 날의 주가는 12634원 입니다.
133번째 날의 주가는 12729원 입니다.
134번째 날의 주가는 12691원 입니다.
135번째 날의 주가는 12622원 입니다.
136번째 날의 주가는 12601원 입니다.
137번째 날의 주가는 12758원 입니다.
138번째 날의 주가는 12803원 입니다.
139번째 날의 주가는 13004원 입니다.
140번째 날의 주가는 13127원 입니다.
141번째 날의 주가는 13155원 입니다.
142번째 날의 주가는 13098원 입니다.
143번째 날의 주가는 13130원 입니다.
144번째 날의 주가는 13162원 입니다.
145번째 날의 주가는 13265원 입니다.
146번째 날의 주가는 13319원 입니다.
147번째 날의 주가는 13250원 입니다.
148번째 날의 주가는 13104원 입니다.
149번째 날의 주가는 13079원 입니다.
150번째 날의 주가는 13161원 입니다.
151번째 날의 주가는 13494원 입니다.
152번째 날의 주가는 13528원 입니다.
153번째 날의 주가는 13671원 입니다.
154번째 날의 주가는 13517원 입니다.
155번째 날의 주가는 13579원 입니다.
156번째 날의 주가는 13575원 입니다.
157번째 날의 주가는 13608원 입니다.
158번째 날의 주가는 13571원 입니다.
159번째 날의 주가는 13673원 입니다.
160번째 날의 주가는 13471원 입니다.
161번째 날의 주가는 13469원 입니다.
162번째 날의 주가는 13710원 입니다.
163번째 날의 주가는 13696원 입니다.
164번째 날의 주가는 13663원 입니다.
165번째 날의 주가는 13765원 입니다.
166번째 날의 주가는 13616원 입니다.
167번째 날의 주가는 13757원 입니다.
168번째 날의 주가는 13623원 입니다.
169번째 날의 주가는 13658원 입니다.
170번째 날의 주가는 13573원 입니다.
171번째 날의 주가는 13418원 입니다.
172번째 날의 주가는 13263원 입니다.
173번째 날의 주가는 13408원 입니다.
174번째 날의 주가는 13499원 입니다.
175번째 날의 주가는 13478원 입니다.
176번째 날의 주가는 13315원 입니다.
177번째 날의 주가는 13326원 입니다.
178번째 날의 주가는 13115원 입니다.
179번째 날의 주가는 13159원 입니다.
180번째 날의 주가는 13115원 입니다.
181번째 날의 주가는 13266원 입니다.
182번째 날의 주가는 13312원 입니다.
183번째 날의 주가는 13349원 입니다.
184번째 날의 주가는 13379원 입니다.
185번째 날의 주가는 13270원 입니다.
186번째 날의 주가는 13300원 입니다.
187번째 날의 주가는 13482원 입니다.
188번째 날의 주가는 13349원 입니다.
189번째 날의 주가는 13371원 입니다.
190번째 날의 주가는 13598원 입니다.
191번째 날의 주가는 13754원 입니다.
192번째 날의 주가는 14047원 입니다.
193번째 날의 주가는 13970원 입니다.
194번째 날의 주가는 14034원 입니다.
195번째 날의 주가는 13956원 입니다.
196번째 날의 주가는 14101원 입니다.
197번째 날의 주가는 14035원 입니다.
198번째 날의 주가는 14047원 입니다.
199번째 날의 주가는 14136원 입니다.
200번째 날의 주가는 13934원 입니다.
201번째 날의 주가는 13967원 입니다.
202번째 날의 주가는 13664원 입니다.
203번째 날의 주가는 13760원 입니다.
204번째 날의 주가는 13734원 입니다.
205번째 날의 주가는 13551원 입니다.
206번째 날의 주가는 13669원 입니다.
207번째 날의 주가는 13617원 입니다.
208번째 날의 주가는 13438원 입니다.
209번째 날의 주가는 13490원 입니다.
210번째 날의 주가는 13407원 입니다.
211번째 날의 주가는 13255원 입니다.
212번째 날의 주가는 13410원 입니다.
213번째 날의 주가는 13385원 입니다.
214번째 날의 주가는 13712원 입니다.
215번째 날의 주가는 13726원 입니다.
216번째 날의 주가는 13711원 입니다.
217번째 날의 주가는 13551원 입니다.
218번째 날의 주가는 13652원 입니다.
219번째 날의 주가는 13691원 입니다.
220번째 날의 주가는 13794원 입니다.
221번째 날의 주가는 13677원 입니다.
222번째 날의 주가는 13621원 입니다.
223번째 날의 주가는 13683원 입니다.
224번째 날의 주가는 13829원 입니다.
225번째 날의 주가는 13837원 입니다.
226번째 날의 주가는 13697원 입니다.
227번째 날의 주가는 13655원 입니다.
228번째 날의 주가는 13805원 입니다.
229번째 날의 주가는 13998원 입니다.
230번째 날의 주가는 14176원 입니다.
231번째 날의 주가는 14318원 입니다.
232번째 날의 주가는 14526원 입니다.
233번째 날의 주가는 14623원 입니다.
234번째 날의 주가는 14699원 입니다.
235번째 날의 주가는 14639원 입니다.
236번째 날의 주가는 14489원 입니다.
237번째 날의 주가는 14754원 입니다.
238번째 날의 주가는 14717원 입니다.
239번째 날의 주가는 14481원 입니다.
240번째 날의 주가는 14425원 입니다.
241번째 날의 주가는 14386원 입니다.
242번째 날의 주가는 14253원 입니다.
243번째 날의 주가는 14310원 입니다.
244번째 날의 주가는 14051원 입니다.
245번째 날의 주가는 13832원 입니다.
246번째 날의 주가는 13653원 입니다.
247번째 날의 주가는 13525원 입니다.
248번째 날의 주가는 13702원 입니다.
249번째 날의 주가는 13705원 입니다.
250번째 날의 주가는 13709원 입니다.