# Pandas

In [2]:
import pandas as pd

## 1. 시리즈(Series)
pd.Series(데이터 )

In [3]:
s = pd.Series([9904312, 3448737, 2890451, 2466052], index = ['서울','부산','인천','대구']) ; s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
pd.Series(range(10,14)) #index default 숫자 0: 자동 설정

0    10
1    11
2    12
3    13
dtype: int64

In [5]:
# index는 method가 아닌 속성이므로 ()가 없음
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [6]:
# values는 method가 아닌 속성이므로 ()가 없음
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [7]:
# name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음
s.name = '인구' 
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### - 시리즈 연산

In [8]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### - 시리즈 indexing

In [9]:
# 숫자index, 문자index 모두 호출 가능
s[0], s['서울']

(9904312, 9904312)

In [10]:
# 부분적인 값을 갖는 시리즈
s[['부산','대구']]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

In [11]:
# 부분적인 값을 갖는 시리즈
s[[0,2]]

도시
서울    9904312
인천    2890451
Name: 인구, dtype: int64

### - Slicing

In [12]:
s[1:3] #index 3 을 포함하지 않음!

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [13]:
# 문자열 라벨을 이용하면 : 뒤의 값도 포함함
s['부산':'대구'] # '대구'포함함!

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### - Boolean indexing

In [14]:
# 값 조건
s[ s< 3000000 ]

도시
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### - Comfotable indexing

In [15]:
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [16]:
s.서울, s.대구  # 숫자는 . 불가

(9904312, 2466052)

In [17]:
'서울' in s

True

In [18]:
# 시리즈의 index와 값을 items()로 한번에 불러옴 : 시리즈.items()
for k , v in s.items():
    print(f'{k} = {v}')

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [49]:
# 딕셔너리로 판다스이용 시리즈 생성
fruits = {'apple':1000,'banana':2000,'cherry':3000}
f = pd.Series(fruits)
f

apple     1000
banana    2000
cherry    3000
dtype: int64

In [20]:
# 데이터 프레임
pd.DataFrame({'fruit':['apple','banana','cherry'], 'price':[1000,2000,3000]})

    fruit  price
0   apple   1000
1  banana   2000
2  cherry   3000

# DataFrame 
DataFrame( 값이 리스트인 딕셔너리 형태 )

In [21]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

In [22]:
# dataframe의 index 추가설정가능
index = ['서울','부산','인천','대구']

df.index = index
df

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [23]:
# 칼럼명 지정 ; 데이터 프레임 만들때 설정을 해주지 않아서 데이터도 순서가 바뀌지는 않고 칼럼명만 바뀐다.
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

df. columns = columns
df

         지역     2015     2010     2005 2000  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [24]:
# 이렇게 데이터프레임 만들때 index와 columns를 함꼐 설정해주면 원하는 순으로 제대로 생성 가능
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [25]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [26]:
df.index.name ='도시' # 행이름 설정
df.columns.name = '특성' # 열이름 설정 
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [27]:
# 전치 행렬 :(열과 행을 바꿈)
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

### - 열 데이터

In [29]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [30]:
# 위와 같은 결과출력
df.지역

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [31]:
# 이렇게 만들면 새로운 파생변수가 df프레임에 생성되지 않음. '.'은 조회만 가능
df.temp = [1, 2, 3, 4]

<ipython-input-31-98ecd8c6485a>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.temp = [1, 2, 3, 4]

In [32]:
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [33]:
# 새로운 파생 변수 생성하려면 []을 이용해야함
df['temp'] =[1,2,3,4]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [34]:
df.temp = [5,6,7,8]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [35]:
del df.temp  # . 이용시, 실제 dataframe에서 삭제 안됨.. 그대로 조회가능

In [36]:
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [37]:
del df['temp'] # 실제로 dataframe에서 삭제됨

In [38]:
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

### - 열 인덱싱

In [39]:
df['2010'] # 시리즈로 출력됨

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [40]:
df[['2010']] # 데이터 프레임으로 출력됨

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [41]:
df[['2010','2015']] # 데이터 프레임으로 출력됨

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

### - 행 인덱싱

In [42]:
df[:1]

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [43]:
df['서울':'부산']

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

### - 개별 데이터 인덱싱

In [44]:
# dataframe [ 열index ] [ 행index ]

In [45]:
df['지역']['서울']

'수도권'

In [46]:
# 가장 보편적 사용
df['2015'][1]  #부산

3448737

In [47]:
# 익숙해지면 이렇게 사용
df.지역[0]

'수도권'

In [48]:
df.지역.서울

'수도권'