# 판다스 데이터프레임 고급 인덱싱

In [2]:
import numpy as np
import pandas as pd

## - loc Indexor

In [3]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"], # 행
                  columns=["A", "B", "C", "D"]) # 열
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [4]:
# 행이름으로 데이터프레임 값 부름 : 데이터프레임.loc[행이름]
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [5]:
df.loc['a':'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [7]:
# 행조건으로 데이터프레임 값 부름 : Boolean index도 사용 가능
# 데이터프레임.loc[행조건]
df.loc[df.A >15]

    A   B   C   D
c  18  19  20  21

In [9]:
#개별 값 : 데이터프레임.loc['행이름','열이름'] or 데이터프레임['행이름']['열이름']
df.loc['c','D'], df['D']['c']

(21, 21)

In [11]:
#슬라이싱
df.loc['b': , 'C':]

    C   D
b  16  17
c  20  21

## - iloc indexor
행이름,열이름 아닌, number로 index 처리

In [17]:
df.iloc[1:, 2:] # 넘파이 인덱싱과 동일

    C   D
b  16  17
c  20  21

In [15]:
# 특정값 불러오기 가능
df.iloc[-1,-1]

21

In [16]:
# 행넘버로 불러오기
df.iloc[0]

A    10
B    11
C    12
D    13
Name: a, dtype: int32