In [1]:
import pandas as pd
import numpy as np

# 시계열 자료

## DatetimeIndex

In [2]:
date_str = ["2018, 1, 1", "2018, 1, 4", "2018, 1, 5", "2018, 1, 6"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [6]:
# 모두 날짜 인덱스로 받음
# 이때 6자리숫자로 입력시'일월년'순서로 기입하여야함
# 단,  "2018, 1, 1"에서 띄어쓰기를 뺴면 오류발생 주의 모두 날짜 인덱스로 받음

date_str = ["2018, 1, 1", "2018-1-4", "20180105", "2018. 1. 6", '130597']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06',
               '1997-05-13'],
              dtype='datetime64[ns]', freq=None)

In [10]:
np.random.seed(2021)
s = pd.Series(np.random.randn(5), index = idx)
s

2018-01-01    1.488609
2018-01-04    0.676011
2018-01-05   -0.418451
2018-01-06   -0.806521
1997-05-13    0.555876
dtype: float64

In [12]:
#2021-06-01 부터  2021-06-30 까지의 datetime데이터 불러옴 
pd.date_range("20210601", "20210630")

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

In [13]:
# 위와 같은 결과 출력
pd.date_range("20210601", periods = 30) # freq='D' ; day의미

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

### * freq 인수
freq 인수로 특정한 날짜만 생성되도록 할 수 있다

- s: 초

- T: 분

- H: 시간

- D: 일(day)

- B: 주말이 아닌 평일

- W: 주(일요일)

- W-MON: 주(월요일)

- M: 각 달(month)의 마지막 날

- MS: 각 달의 첫날

- BM: 주말이 아닌 평일 중에서 각 달의 마지막 날

- BMS: 주말이 아닌 평일 중에서 각 달의 첫날

- WOM-2THU: 각 달의 두번째 목요일

- Q-JAN: 각 분기의 첫달의 마지막 날

- Q-DEC: 각 분기의 마지막 달의 마지막 날

In [15]:
pd.date_range("20210601", "20210630", freq="B") #B: 주말이 아닌 평일

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='B')

In [17]:
pd.date_range("20210601", "20210630", freq="W") # W: 주(일요일)

DatetimeIndex(['2021-06-06', '2021-06-13', '2021-06-20', '2021-06-27'], dtype='datetime64[ns]', freq='W-SUN')

In [20]:
pd.date_range("20210601", "20210630", freq="W-SAT") # W: 주(토요일)

DatetimeIndex(['2021-06-05', '2021-06-12', '2021-06-19', '2021-06-26'], dtype='datetime64[ns]', freq='W-SAT')

In [22]:
pd.date_range("20210101", "20211231", freq="M") # M: 각 달(month)의 마지막 날

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

## Resample

In [23]:
ts = pd.Series(np.random.randn(100), 
                index=pd.date_range( "2018-1-1", periods=100, freq="D"))  #, freq="D" 안써도 됨
ts.tail(20)

2018-03-22    1.277788
2018-03-23    0.629269
2018-03-24    0.361891
2018-03-25    3.638726
2018-03-26   -1.201221
2018-03-27   -1.330033
2018-03-28    1.261033
2018-03-29   -0.648126
2018-03-30    2.245300
2018-03-31   -1.012394
2018-04-01   -0.125939
2018-04-02   -0.432416
2018-04-03    0.425937
2018-04-04    0.756636
2018-04-05   -0.994854
2018-04-06   -0.740574
2018-04-07    0.458233
2018-04-08    1.257247
2018-04-09   -0.441704
2018-04-10    0.541335
Freq: D, dtype: float64

In [24]:
ts.resample('W').mean()

2018-01-07    0.126454
2018-01-14   -0.465620
2018-01-21    0.485757
2018-01-28    0.895867
2018-02-04   -0.528141
2018-02-11    0.158783
2018-02-18   -0.370440
2018-02-25    0.328590
2018-03-04    0.140790
2018-03-11   -0.202126
2018-03-18    0.313662
2018-03-25    0.927967
2018-04-01   -0.115911
2018-04-08    0.104316
2018-04-15    0.049816
Freq: W-SUN, dtype: float64

In [26]:
ts.resample('M').first()

2018-01-31   -0.705504
2018-02-28   -1.044744
2018-03-31    0.141464
2018-04-30   -0.125939
Freq: M, dtype: float64